@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.fertuzy {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.norm2nd {
  font-family: "Poltawski Nowy", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hambutton button {
  @apply text-white hover:bg-black;
}

.armani {
    -webkit-text-decoration-color: #d4ab84;
    text-decoration-color: #d4ab84;
}

